---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// Article
.article-images {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
  margin-top: 2rem;
  margin-bottom: 100px;
  figure {
    margin-bottom: 2rem;
  }
}

.site-name, .site-name:link, .site-name:visited {
  color: #424242;
}
